<%= simple_form_for(@bit_coin, wrapper: :horizontal_form) do |f| %>
    <div class="form-inputs">
      <div class="panel panel-default">
        <div class="panel-heading"><b>Amount</b></div>
        <div class="panel-body">
          <%= f.input :amount_usd %>
          <%= f.input :amount_bit_coin %>
          <%= f.input :balance %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><b>Deposit To</b></div>
        <div class="panel-body">
          <%= f.input :wallet_address %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><b>Contact Me To</b></div>
        <div class="panel-body">
          <%= f.input :user_email %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><b>Price</b></div>
        <div class="panel-body">
          <%= f.input :fees %>
          <%= f.input :total_price %>
        </div>
      </div>

      <%= f.hidden_field :app_price, value: @last_price %>
    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, 'Deposit USD', class: 'btn btn-primary' %>
    </div>

    <p>The payment information will be emailed to you automatically</p>
<% end %>


<script>
    $(function () {
        $('#bit_coin_amount_usd').keyup(function () {
            var live_price = parseFloat(<%= @last_price %>);
            var usd_amount = parseFloat($(this).val());
            var btc_amount = usd_amount / live_price
            $('input#bit_coin_amount_bit_coin').val(btc_amount);
        });

        $('#bit_coin_amount_bit_coin').keyup(function () {
            var live_price = parseFloat(<%= @last_price %>);
            var btc_amount = parseFloat($(this).val());
            var usd_amount = btc_amount * live_price
            $('input#bit_coin_amount_usd').val(usd_amount);
        });

        $('#bit_coin_amount_usd').keyup(function () {
            var usd_amount = parseFloat($(this).val());
            var fees = usd_amount * 0.1;
            var total_price = usd_amount + fees;
            $('input#bit_coin_fees').val(fees);
            $('input#bit_coin_total_price').val(total_price);
        });

        $('form#new_bit_coin').submit(function () {
            $(".preload").fadeIn(2000, function () {
                $(".content").fadeOut(1000);
            });
            return true;
        });
    });

</script>